<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Add these permissions if you want call/SMS features -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- If you need internet for map/location -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.FoodDeliveryApp">

        <activity
            android:name=".SearchResultsActivity"
            android:exported="false" /> <!-- Order Tracking Activity (NEW) -->
        <activity android:name=".OrderTrackingActivity" /> <!-- Cart Activity (NEW) -->
        <activity android:name=".CartActivity" /> <!-- Restaurant List Activity -->
        <activity android:name=".RestaurantListActivity" /> <!-- Restaurant Menu Activity -->
        <activity android:name=".RestaurantMenuActivity" /> <!-- Signup Activity -->
        <activity android:name=".SignupActivity" /> <!-- Main/Login Activity (LAUNCHER) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>